<article class="comments">
  <div id = "usercomment">
    <p> {{comment}} </p>
  </div>
  <div id = "author">
    <p> {{author}} </p>
  </div>


<div class="user-rating">
  <h3> {{rating}}/5 </h3>
</div>

</article>
