<article class="comments">
  <div id = "usercomment">
    <p> {{comment}} </p>
  </div>
  <div id = "username">
    <p> {{username}} </p>
  </div>
</article>

<div class="user-rating">
  <h3> {{rating}}/5 </h3>
</div>
