<article class="console-game">
    <div class="console-game-content">
      <p class="console-game-title">
        {{title}}
      </p>
      <div class="console-game-picture">
        <img class="console-game-photo" src="{{cover}}" />
      </div>
    </div>
  </article>
