<article class="game">
    <div class="game-content">
      <p class="game-title">
        {{text}}
      </p>
      <div class="game-picture">
        <img class="game-photo" src="{{url}}" />
      </div>
    </div>
  </article>
