<header>
  <a href="#"><h1 class="site-title"> Vapor</h1></a>

  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink home active"><a href="/">Home</a></li>
      <li class="navitem navlink ps4"><a href="/ps4">PlayStation 4</a></li>
      <li class="xbox navitem navlink"><a href="/xbox">Xbox One</a></li>
      <li class="navitem navlink switch"><a href="/switch">Nintendo Switch</a></li>
      <li class="navitem navlink pc"><a href="/pc">PC</a></li>
    </ul>
  </nav>
</header>
