<header>
  <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->
  <a href="#"><h1 class="site-title"> Vapor</h1></a>

  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink active"><a href="#">Home</a></li>
      <li class="navitem navlink"><a href="#">PlayStation 4</a></li>
      <li class="navitem navlink"><a href="#">Xbox One</a></li>
      <li class="navitem navlink"><a href="#">PC</a></li>
      <li class="navitem navlink"><a href="#">Nintendo Switch</a></li>
    </ul>
  </nav>
</header>
