<article class="game">
    <div class="game-content">
		<p class="game-pic">
			<img class="game-photo-img" src="{{url}}"/>
		</p>
      <p class="game-name">
        {{name}}
      </p>
    </div>
</article>