<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Vapor</title>


    <link rel="stylesheet" href="/style.css" media="screen">

  </head>
  <body>

    {{{body}}}

  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.runtime.js"></script>
  {{!<script src="/twitTemplate.js"></script>}}
  <script src="/index.js"></script>

</html>
