<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Vapor</title>

    
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">

    <link rel="stylesheet" href="/style.css" media="screen">

  </head>
  <body>

    {{{body}}}

  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.runtime.js"></script>
  {{!<script src="/twitTemplate.js"></script>}}
  <script src="/index.js"></script>

</html>