{{> header}}

   <main class="console-games">
     
     <div class="console-title">
       <h1>{{name}}<h1>
     </div>

     {{# each consoleGames}}
       {{> consoleGame}}
     {{/each}}

   </main>
