{{> header}}

   <main class="console-games">

     {{#if console1}}
     <div class="console-title1">
       <h1>{{name}}<h1>
     </div>
     {{/if}}

     {{#if console2}}
     <div class="console-title2">
       <h1>{{name}}<h1>
     </div>
     {{/if}}

     {{#if console3}}
     <div class="console-title3">
       <h1>{{name}}<h1>
     </div>
     {{/if}}

     {{#if console4}}
     <div class="console-title4">
       <h1>{{name}}<h1>
     </div>
     {{/if}}

     {{# each consoleGames}}
       {{> consoleGame}}
     {{/each}}


   </main>
