{{> header}}

   <main class="console-games">

     {{#if console1}}
     <div class="console-title1">
       <img class = "console-img1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PlayStation_4_logo_and_wordmark.svg/2000px-PlayStation_4_logo_and_wordmark.svg.png"/>
     </div>
     {{/if}}

     {{#if console2}}
     <div class="console-title2">
       <img class = "console-img2" src="https://upload.wikimedia.org/wikipedia/en/thumb/1/11/Xbox_One_logo.svg/1280px-Xbox_One_logo.svg.png"/>
     </div>
     {{/if}}

     {{#if console3}}
     <div class="console-title3">
       <img class = "console-img3" src="http://i66.tinypic.com/34fkxux.png"/>
     </div>
     {{/if}}

     {{#if console4}}
     <div class="console-title4">
       <img class = "console-img4" src="https://lasierra.edu/fileadmin/images/_processed_/6/5/csm_windows-logo_0fb5eb3f3a.png"/>
     </div>
     {{/if}}

     {{# each consoleGames}}
       {{> consoleGame}}
     {{/each}}


   </main>
